.config/emacs/elfeed/index
.config/ml4w/cache/
.config/emacs/elpa/*
.config/emacs/auto-save-list/*
.config/emacs/.cache/*
.config/emacs/eln-cache/*
.config/emacs/elfeed/*
.config/emacs/lisp/escape-dashboard.el
config/emacs/places.eld
config/emacs/projects
.config/waybar

