.DS_Store
.idea
*.log
tmp/

~/dotfiles/.config/ml4w/cache/
~/dotfiles/.config/emacs/elpa/*
~/dotfiles/.config/emacs/auto-save-list/*
~/dotfiles/.config/emacs/.cache/*
~/dotfiles/.config/emacs/eln-cache/*

